<style>
    .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    span {
        margin: 10px;
    }
</style>

<div class="container">
    <span>Olá, {{name}}</span>

    <br/>

    <span>Você solicitou recuperação de senha.</span>
    <span>
        Para realizar a troca, clique no link. <a href="{{link}}">{{link}}</a>
    </span>

    <span>Caso você não tenha solicitado esse serviço, ignore esse email.</span>

    <h3>Equipe | <strong>Rentx</strong></h3>
</div>
